body{background-color: rgb(245, 242, 238);}
h1 {
    color: rgb(81, 131, 24);
    font-family:Verdana, Geneva, Tahoma, sans-serif }

h2 { color:rgb(56, 5, 5)}

li {
    list-style-type: square;
    color: rgb(24, 224, 124) }

.menu{
    background-color: aliceblue;
    border: solid 1px #ddd;
    border-radius: 6px;
    padding: 15px;
}
.menu li{
    list-style-type: none;
    border-bottom: solid 1px;
    padding: 10px;
}

.special{
    color: rgb(98, 0, 255);
    font-size: 150%;}
    
dd {
    color: blueviolet;
    font-size: 120%;
    }

span.firme {
    color: brown;
    font-size: 150%;
}
section img{
    width: 180px;
    float: left;
    margin: 0px 10px;
}

